:root {
    --font-size:         1rem;

    --border-color:      var(--pico-muted-border-color);
    --accent-color:      var(--pico-color-pumpkin);

    --link-active-color: var(--accent-color);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FAFFF3;
}


/* HEADER ---------------------------------------- */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
    background-color: #FAFFF3;
    background-color: EEF4ED;

}

#main-header > * {
    margin: 0;
    color: black;
}

#main-header > a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

div#panel {
    background-image: url(../images/badminton.png);
    background-repeat: repeat-x;
    height: 5rem;
}

/* FOOTER ---------------------------------------- */

#main-footer {
    text-align: center;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
    background-color: #144579;
    color: white;
    
}


/* NAV ---------------------------------------- */

#main-nav {
    align-items: center;
    font-size: 1.1rem;
}

#main-nav menu {
    margin: 0;
}


#main-nav a[aria-current="page"] {
    color: var(--link-active-color);
    text-decoration: underline;
    
}


/* MAIN ---------------------------------------- */

main {
    flex: 1;
    max-width: 60rem;

}


/* LAYOUT ---------------------------------------- */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

article {
    border: 1px solid var(--border-color);
    min-height: 6rem;
    background-color: #1e2530;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: black;
}

p {
    color: black;
}

#footer p {
    color: #dbddd9;
}

button {
    /* flex: 1; */
    /* max-width: 10ch; */
    /* height: 50px; */
    text-align: center;
    line-height: 1;
    /* padding: 0.5rem; */
}

.button-list {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

#backbutton {
--pico-background-color: var(--pico-primary-background);
--pico-border-color: var(--pico-primary-border);
--pico-color: var(--pico-primary-inverse);
--pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
border: var(--pico-border-width) solid var(--pico-border-color);
border-radius: var(--pico-border-radius);
outline: 0;
background-color: var(--pico-background-color);
box-shadow: var(--pico-box-shadow);
color: var(--pico-color);
font-weight: var(--pico-font-weight);
font-size: 1rem;
/* line-height: var(--pico-line-height); */
text-align: center;
text-decoration: none;
cursor: pointer;

}